/* This file is for your main application css. */

@import "./phoenix.css";

.hidden {
  display: none;
}

.card {
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}
