<div class="card">
  <p class="question">
    <strong>Question:</strong>
    <%= @card.question %>
  </p>

  <p class="answer hidden">
    <strong>Answer:</strong>
    <%= @card.answer %>
  </p>
</div>

<button class="show">Show Answer</button>

<%= if @next_id do %>
  <p><%= link "Next Question", to: Routes.card_path(@conn, :show, @next_id) %><p>
<%= end %>
