<div class="card">
  <p class="question">
    <strong>Question:</strong>
    <%= @card.question %>
  </p>

  <p class="answer hidden">
    <strong>Answer:</strong>
    <%= @card.answer %>
  </p>
</div>

<button class="show">Show Answer</button>
<p><%= link "Back", to: Routes.card_path(@conn, :index) %></p>
